
/*  BARRA LATERAL  */

.barra-lateral{
	display: inline-block;
	position: fixed;
	top:0;
	left: 0;
	width: 16%;
	height: 100%;
	margin-left: -100%;
}

.contenedor-ebl{
	width: 100%;
	height: 100%;

	text-align: center;

	background-color: #0C0C0C;
	overflow-y: scroll;
	padding-top: 10%;
}

.contenedor-ebl::-webkit-scrollbar{
	background: rgba(10,10,10,1);
	width: 12px;
}

.contenedor-ebl::-webkit-scrollbar-thumb{
	transition: 0.3s linear;
	background-color: #2F2F2F;
}

.contenedor-ebl button{
	display: block;

	border-left: 10px solid #111111;
	border-right: 10px solid #111111;
	border-top: 6px solid #5E5E5E;
	border-bottom: 6px solid #5E5E5E;
	border-radius: 5px;

	width: 80%;
	margin:0 auto;
	margin-bottom: 30%;
	padding: 5% 0;

	color:white;
	background-color: #3A3A3A;

	cursor:pointer;
}

.contenedor-ebl button:hover{
	background-color: #1A1A1A;
	color:white;
}

.contenedor-ebl button:active{
	background-color: #4A4A4A;
}

/* BOTON PARA DESPLEGAR LA BARRA LATERAL */

.desplegar-lista{
	font-size: 2em;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

	position: fixed;
	left:0;
	top:85%;

	padding:0.5% 1%;

	border-radius: 40px;
	border:none;

	color:white;
	background-color: #1C1C1C;

	cursor:pointer;
}

.desplegar-lista:hover{
	background-color: #2C2C2C;
}

/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/

@keyframes adbl-barra-1{
	from{
		margin-left:-100%;
	}

	to{
		margin-left:0;
	}
}

@keyframes adbl-barra-2{
	from{
		margin-left:0;
	}

	to{
		margin-left:-100%;
	}
}

@keyframes adbl-boton-1{
	from{
		margin-left: 0;
	}

	to{
		margin-left: 16.5%;
	}
}

@keyframes adbl-boton-2{
	from{
		margin-left: 16.5%;
	}

	to{
		margin-left: 0;
	}
}