
/* BEGINNING OF RESET CSS */

body,option,header,footer,h1,h2,h3,h4,h5,h6,ul,ol,li,p,div,blockquote,section,table,tr,td,a,figure,figcaption{
  padding: 0;
  margin: 0;
  font-size: 100%;
  text-decoration: none;
}

a{
  /*color:#F4F4F4;*/
}

ul{
  list-style: none;
}

img{
  padding: 0;
  margin: 0;
  border: none;
}

/* END OF RESET CSS */

/*---------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------- COMPORTAMIENTO DEL SCROLL ----------------------------------------------------*/

html{
  scroll-behavior: smooth;
  font-size: 18px;
}

body{
  font-family: "Bookman Old Style",Georgia;
  background-color: #0D0D0D;
}

body::-webkit-scrollbar{
  background: rgba(10,10,10,1);
  width: 12px;
}

body::-webkit-scrollbar-thumb{
  background-color: #2F2F2F;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/
